@model List<Order>

@{
    ViewData["Title"] = "Cart";
    var session = Context.Request.HttpContext.Session;
    var userEmail = session.GetString("UserEmail");
    List<Product> cartItems = session.getJson<List<Product>>(userEmail + "Cart");
    float grandTotal = session.getJson<float>(userEmail + "GrandTotal");
}

<h2>Orders</h2>
<div style="height: 50px">Hello</div>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                Order ID
            </th>
            <th>
                UserName
            </th>
            <th>
                Order Date
            </th>
            <th>
                Total Price
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                @*<td>@order.User.Name</td>*@
                <td>@order.OrderDate</td>
                <td>@order.TotalPrice</td>
                <td>@order.Status</td>
                <td>
                    <button type="button" class="btn btn-danger text-center border pr-4 pl-4 ml-2" data-toggle="modal" data-target=".bd-example-modal-lg">
                    Detail
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@foreach (var order in Model)
{
    <div class="modal fade bd-example-modal-lg" style="margin-top:150px" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit your personal information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th>
                                        OrderDetailId
                                    </th>
                                    <th>
                                        Order Day
                                    </th>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        UnitPrice
                                    </th>
                                    <th>
                                        Quantity
                                    </th>

                                </tr>

                            </thead>
                            <tbody>


                                @foreach (var orderDetail in order.OrderDetails)
                                {
                                    <tr>
                                        <td>@orderDetail.OrderDetailID</td>
                                        <td>@orderDetail.Order.OrderDate</td>
                                        <td>@orderDetail.Product.ProductName</td>
                                        <td>@orderDetail.UnitPrice</td>
                                        <td>@orderDetail.Quantity</td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
        </div>
    </div>
    }
