@model List<ASM.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";

}
<form method="POST" action="/add-to-cart">
<!DOCTYPE html>
<html>
<head>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

</head>

<body>
    
    <main class="container">

        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <!-- Product Description -->
            @for (int i = 0; i < Model.Count; i++)
            {
                <img data-image="@Model[i].ColorDetail.Color.ToLower()" src="/images/ProductImage/@Model[i].Image" alt="">
            }
        </div>

            <input type="hidden" name="productId" value="@Model[0].ProductId" />
            <input type="hidden" name="productName" value="@Model[0].ProductName" />
            <input type="hidden" name="productPrice" value="@Model[0].Price" />
            <input type="hidden" name="Image" value="/images/ProductImage/@Model[0].Image" />

        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <span>@Model[0].Category.Name</span>
                <h1>@Model[0].ProductName</h1>
                <p>@Model[0].Description</p>
            </div>
            

            <!-- Product Configuration -->
            <div class="product-configuration">

                <!-- Product Color -->
                <div class="product-color">
                    <span>Color</span>

                    <div class="color-choose">
                        <div>
                            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                            <label for="red"><span></span></label>
                        </div>
                        <div>
                            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                            <label for="blue"><span></span></label>
                        </div>
                        <div>
                            <input data-image="black" type="radio" id="black" name="color" value="black">
                            <label for="black"><span></span></label>
                        </div>
                    </div>

                </div>

                <!-- Cable Configuration -->
                <div class="cable-config">
                    <span>Size</span>
                    @for(int i=0; i<Model.Count; i++)
                        {
                    <div class="cable-choose">
                        
                            <button>@Model[i].Size.SizeNumber</button>
                        
                    </div>

                    <span>Quantity : @Model[i].Quantity</span>
                        }

                    <a href="#">How to configurate your headphones</a>
                </div>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">
                <span>@Model[0].Price$</span>
                    <button type="button" class="btn btn-danger addToCartBtn" data-toggle="modal" data-target="#exampleModal">Add to cart</button>
            </div>
        </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="~/assets/js/script.js" charset="utf-8"></script>

</body>
</html>

    @foreach (var item in Model)
    {
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:200px">
        <!-- Modal content -->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="number" min="1" class="form-control" name="Quantity" required />
                        <span asp-validation-for="@item.Quantity" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <select asp-for="@item.ColorDetailID" class="form-control" required>
                            <option value="@item.ColorDetailID">@item.ColorDetail.Color</option>
                        </select>
                        <span asp-validation-for="@item.ColorDetailID" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <select asp-for="@item.SizeID" class="form-control" required>
                            <option value="@item.SizeID">@item.Size.SizeNumber</option>
                        </select>
                        <span asp-validation-for="@item.SizeID" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/add-to-cart" method="post">
                        <!-- Other form fields -->
                        <input type="hidden" name="color.ColorDetailID" value="@item.ColorDetailID" />
                        <input type="hidden" name="size.SizeID" value="@item.SizeID" />
                        <button type="submit" class="btn btn-danger">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    }



</form>


