@model List<ASM.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";

}
<form method="POST" action="/add-to-cart">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

</head>

<body>
    
        

    <main class="container">

        <!-- Left Column / Headphones Image -->
        <div class="left-column">
            <!-- Product Description -->
            @{
                var uniqueGroupIds = Model.Select(p => p.GroupId).Distinct();
            }

            @foreach (var groupId in uniqueGroupIds)
            {
                var products = Model.Where(p => p.GroupId == groupId);

                foreach (var product in products)
                {
                    <img data-image="@product.ColorDetail.Color.ToLower()" src="/images/ProductImage/@product.Image"
                         class="active" alt="">
                }
            }
        </div>

            <input type="hidden" name="productId" value="@Model[0].ProductId" />
            <input type="hidden" name="productName" value="@Model[0].ProductName" />
            <input type="hidden" name="productPrice" value="@Model[0].Price" />
            <input type="hidden" name="Image" value="/images/ProductImage/@Model[0].Image" />
            <input type="hidden" name="groupId" value="@Model[0].GroupId" />

        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <span>@Model[0].Category.Name</span>
                <h1>@Model[0].ProductName</h1>
                <p>@Model[0].Description</p>
            </div>
            
            <!-- Product Configuration -->
            <div class="product-configuration">

                <!-- Product Color -->
                <div class="product-color">
                    <span>Color</span>

                    <div class="color-choose">
                        @{
                            var uniqueColors = Model.Select(m => m.ColorDetail.Color.ToLower()).Distinct();
                        }
                        @foreach(var product in uniqueColors)
                        {
                            <div>
                                <input data-image="@product" type="radio" id="@product" name="color" value="@product" checked>
                                <label for="@product"><span></span></label>
                            </div>
                        }
                    </div>

                </div>

                <!-- Cable Configuration -->
                <div class="cable-config">
                    <span>Size</span>

                    <div class="cable-choose">
                        @{
                            var uniqueSizes = Model.Select(m => m.Size.SizeNumber).Distinct();
                        }
                        @foreach (var size in uniqueSizes)
                        {
                            <button>@size</button>
                        }
                    </div>

                    <a href="#">How to dress up like a model</a>
                </div>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">
                <span>@Model[0].Price$</span>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Add to cart
                        </button>
            </div>
        </div>
    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="~/assets/js/script.js" charset="utf-8"></script>

</body>
</html>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:200px">
        <!-- Modal content -->
    <form action="/add-to-cart" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="number" min="1" class="form-control" name="Quantity" required />

                    </div>
                    <div class="mb-3">
                        <select class="form-control form-control" name="colorID">
                                @foreach (var itemColor in Model)
                                {
                                <option value="@itemColor.ColorDetailID">@itemColor.ColorDetail.Color</option>
                                }
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-control" name="sizeID" required>
                                @foreach (var itemSize in Model)
                                {
                                <option value="@itemSize.SizeID">@itemSize.Size.SizeNumber</option>
                                }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Save changes</button>
                </div>
            </div>
        </div>
    </form>
    </div>

</form>





